<!DOCTYPE html>
<html>
  <head>
    <title>Hi!</title>
  </head>
  <body>
    <a href="/auth/dropbox_oauth2">Log in with dropbox</a><br/>
    <a href="/reset">reset</a><br/>

    <%= debug session.to_hash %>
  </body>
</html>
