<!DOCTYPE html>
<html>
  <head>
    <title>Hi!</title>
  </head>
  <body>
    <a href="/auth/dropbox_oauth2">Log in with dropbox</a><br/>
    <a href="/reset">reset</a><br/>

    <div><% @users.each do |user| %>
      <div><%= user.uid %> <%= user.email %> <%= link_to "scan", scan_path(user.uid) %></div>
    <% end %></div>

    <%= debug session.to_hash %>
  </body>
</html>
