<!DOCTYPE html>
<html>
  <head>
    <title>Hi!</title>
  </head>
  <body>
    <a href="/">Home</a><br/>

    <div><% @results.each do |result| %>
      <div><%= debug result %></div>
    <% end %></div>
  </body>
</html>
